<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIKCfOaHB34y1k2mLag769SxmDex84Ohc</string>
	<key>GCM_SENDER_ID</key>
	<string>905065043605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-9bf64</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-9bf64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905065043605:ios:ad0e3d754ce4401e966d9c</string>
</dict>
</plist>